@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    padding: 16px;

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0 60px ;
    min-width: 360px;
    padding: 24px;
}


.container-title {
    color: rgb(255, 192, 2);
    font-family: 'Fredoka One', cursive;
    font-size: clamp(1.75em, 3em + 3vw, 2.5em);
    margin-bottom: 30px;
    text-align: center;
    
}


.container-input {
    padding: 8px 12px;
    outline: 0;
    width: 160px;
    font-family: 'Fredoka One', cursive;
    font-size: 0.9em;
}


input::placeholder{
    font-family: 'Fredoka One', cursive;
    color: rgb(180, 173, 173);

}

button {
    padding: 8px 12px;
    outline: 0;
    margin-left: 5px;
    height: 37px;
    font-family: 'Fredoka One', cursive;
    font-size: 1em;
    background:  rgb(255, 192, 2);
    border: 1px solid rgb(66, 62, 62);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}
